<button [routerLink]="['/novoCliente']">Criar Novo Cliente</button>

<br>
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID CLIENTE</th>
            <th scope="col">CPF</th>
            <th scope="col">NOME</th>
            <th scope="col">AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of listaClientes; index as i">
            <th scope="row">{{ i }}</th>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.nome }}</td>
            <button (click)="removerCliente(cliente.id)">Remover Cliente</button>
        </tr>
    </tbody>
</table>