<p>listar-salas works!</p>


<a href="novaSala">Criar Nova Sala</a>


<li *ngFor="let Sala of listaSalas; index as i; first as isFirst">
    <b> Posição:</b> {{i}} <b>IdCliente:</b> {{Sala.IdCliente}} <b>IdMedico:</b> {{Sala.IdMedico}} <b>DataConsulta:</b> {{Sala.DataConsulta}} <b>Id:</b> {{Sala.Id}} <b>ChaveSalaCliente:</b> {{Sala.ChaveSalaCliente}} <b>ChaveSalaMedico:</b> {{Sala.ChaveSalaMedico}} <b>IdentificadorSala:</b> {{Sala.IdentificadorSala}} 
    <a href="teleconferencia">Entrar na Sala</a>
</li>