<button [routerLink]="['/novaSala']">Criar Nova Sala</button>


<br>
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID CLIENTE</th>
            <th scope="col">ID MÉDICO</th>
            <th scope="col">DATA CONSULTA</th>
            <th scope="col">ID CONSULTA</th>
            <th scope="col">CHAVE DA SALA CLIENTE</th>
            <th scope="col">CHAVE DA SALA MÉDICO</th>
            <th scope="col">ID SALA</th>
            <th scope="col">AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sala of listaSalas; index as i">
            <th scope="row">{{ i }}</th>
            <td>{{ sala.idCliente }}</td>
            <td>{{ sala.idMedico }}</td>
            <td>{{ sala.dataConsulta }}</td>
            <td>{{ sala.id }}</td>
            <td>{{ sala.chaveSalaCliente }}</td>
            <td>{{ sala.chaveSalaMedico }}</td>
            <td>{{ sala.identificadorSala }}</td>
            <button [routerLink]="['/teleconferencia', sala.identificadorSala]">Entrar na Sala</button>
        </tr>
    </tbody>
</table>